@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}


body {
  margin: 0;
  display: flex;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
 width: 80vw;
 background-color: rgb(42, 40, 40);
 padding: 1rem;
border-radius: 14px;
}

